body, input, textarea {
    font-size: 1rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
h1 {
    text-transform: uppercase;
    letter-spacing: -0.1rem;
    font-weight: 900;
}
label {
    display: block;
    margin-bottom: 0.25rem;
}
input, textarea {
    box-sizing: border-box;
    font-weight: 300;
    width: 100%;
    padding: 0.5rem;
    background-color: #f2f2f2;
    color: #808080;
    border: none;
    border-radius: 0;
    border-bottom: 0.2rem solid rgba(0,0,0,0.1);
}
input[type=submit] {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition: transform 0.2s ease-in;
    border-bottom: none;
    border-radius: 0;
}
input[type=submit]:hover {
    transform: translateY(-0.2rem);
    opacity: 0.85;
    cursor: pointer;
}
.required {
    margin-left: 0.3em;
    font-weight: bold;
    color: #ef5ba1;
}
.container {
    padding: 0 1rem;
}
@media(min-width: 42rem) {
    .container {
        margin: 0 auto;
        width: 40rem;
    }
}
.grid {
    margin: -1rem 0 1rem -1rem;
}
.two.column.grid {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.column:not(.grid) {
    box-sizing: border-box;
    padding: 1rem 0 0 1rem;
}
.two.column.grid > .column {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}
@media(min-width: 42rem) {
    .two.column.grid > .one.column {
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
    }
}