body, input, textarea {
    font-size: 1rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0 1rem;
}
h1 {
    text-transform: uppercase;
    letter-spacing: -0.1rem;
    font-weight: 900;
}
#feedback {
    overflow: hidden;
    -webkit-column-width: 15rem;
    -moz-column-width: 15rem;
    column-width: 15rem;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}
blockquote {
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    margin: 0;
    padding: 0 0 1rem 0;
}
cite {
    display: block;
    text-align: right;
    font-size: 0.8rem;
    border-top: 1px solid rgb(0, 0, 0);
    margin-top: 0.5rem;
}